<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="personelConfig"
		connectionString="Data Source=SARA-PC;Initial Catalog=personnel;User ID=user;Password=user" />
			 <!--connectionString="Data Source=Hadeel-PC;Initial Catalog=personnel;Persist Security Info=True;User ID=personeluser;Password=123456" />-->
	</connectionStrings>	
</configuration> 