<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="personelConfig"
		connectionString="Data Source=192.168.0.10;Initial Catalog=personnel;User ID=sa;Password=P@ssw0rd" />
			 <!--connectionString="Data Source=Hadeel-PC;Initial Catalog=personnel;Persist Security Info=True;User ID=personeluser;Password=123456" />-->
	</connectionStrings>	
</configuration> 